<h2>Create Product</h2>

<form action="/form-products" method="post" class="my-4">
    <div class="mb-3">
        <!-- Campo para el nombre del producto -->
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="mb-3">
        <!-- Campo para la imagen del producto -->
        <label for="image" class="form-label">Img:</label>
        <input type="text" name="image" id="image" class="form-control">
    </div>
    <div class="mb-3">
        <!-- Campo para la descripción del producto -->
        <label for="description" class="form-label">Description:</label>
        <input type="text" name="description" id="description" class="form-control">
    </div>
    <div class="mb-3">
        <!-- Campo para el precio del producto -->
        <label for="price" class="form-label">Price:</label>
        <input type="number" name="price" id="price" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
